
<% @widgets = Widget.all %>

<% if notice %>
  <p id="flash_notice"><%= flash[:notice] %></p>
<% end %>
<% if flash[:error] %>
  <p id="flash_errors"><%= flash[:error] %></p>
<% end %>

<table>
  <tr>
    <th>Widget name</th>
    <th>Widget desc</th>
  </tr>

<% @widgets.each do |widget| %>
  <tr>
    <td><%= link_to widget.widget_name, widget, :remote => true %></td>
    <td><%= widget.widget_desc %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Create a New Widget', new_widget_path, :remote => true %>
